@import '../../Style/styles.scss';
.item {
  .img-responsive {
    max-width: 100%;
    display: block;
    height: 100%;
  }
}

.container {
  width: 75%;
  height: 100%;
  padding: 0;
  margin-top: 1%;
}

.carousel {
  width: 100%;
  height: 100%;
}
#myCarousel {
    position: relative;
    width: 960px;
    height: 455px;
    overflow: hidden;
}
#myCarousel ul{
  position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 1980px;
}

.carousel-container {
  width: 100%;
  height: 100%;
}

.left {
  width: 2%;
  height: 100%;
  background: none;
}

.right {
  width: 2%;
  height: 100%;
  background: none;
}

//custom banner
.main-text {
  position: absolute;
  top: 183px;
  width: 100%;
  color: #FFF;
  background: #d6002a;
  opacity: 0.6;
}

.btn-min-block {
  min-width: 170px;
  line-height: 26px;
}

.btn-clear {
  color: #FFF;
  background-color: transparent;
  border-color: #FFF;
  margin-right: 15px;
  background-color: rgb(14, 14, 14);
}

.btn-clear:hover {
  color: #000;
  background-color: #FFF;
  border-radius: 37px;
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img {
  width: 100%;
  height: auto;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.backgroundimg {
  background-color: rgba(167, 14, 179, 0.63);
}

.actual-custom-design {
  height: 20%;
  width: 100%;
  align-content: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  align-self: auto;
  background: red;
  border-radius: 25px;
}

.overlay-tabs {
  position: absolute;
  top: 397px;
  width: 100%;
  color: #FFF;
  opacity: 3.1;
  flex: 1 1 auto;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  align-self: auto;
}

h4 {
  font-weight: 600;
}

p {
  font-size: 12px;
  margin-top: 5px;
}

.price {
  font-size: 30px;
  margin: 0 auto;
  color: #333;
}

.btnright {
  float: right;
  border-bottom: 2px solid #4B8E4B;
}

.thumbnail {
  opacity: 0.70;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.thumbnail:hover {
  opacity: 1.00;
  box-shadow: 0px 0px 10px #4bc6ff;
}

.line {
  margin-bottom: 5px;
}

// @media screen and (max-width: 770px) {
//   .btnright {
//     float: left;
//     width: 100%;
//   }
// }
