  <div class="global-desktop-body-column w-100">
    <div class="global-desktop-header w-100">
      <app-desktop-header></app-desktop-header>
    </div>
    <div class="global-desktop-container w-100">
      <div class="body-container">
        <div class="imgaboutus"></div>
        <div class="info-blocks">
          <div class="terms-of-use-info" id="aboutUsInfo">
            <div class="title-text" [innerHTML]="termsOfUseTitle"></div>
            <div [innerHTML]="termsOfUseText"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="global-desktop-footer w-100">
      <app-desktop-footer></app-desktop-footer>
    </div>
  </div>
  
