.search-overlay-body{
  background: #dedede;
  color: #0a0a0a;
  z-index: 1;
  position: absolute;
  width: 39.5em;
  border-radius: 5px;
  min-height: 500px;
  top: 40px;
  box-shadow: 0px 0px 8px 1px #a7a7a7;
}
