@import '../../../../../Style/styles.scss';
.search-overlay-body {
  background: #dedede;
  color: #0a0a0a;
  z-index: 1;
  width: 100%;
  border-radius: 5px;
  height: 46em;
  top: 50px;
  box-shadow: 0px 0px 8px 1px #a7a7a7;
  position: fixed;
  overflow: scroll;
  padding: 1em;
}

//layout box
.layoutbox {
  margin: 10px;
  margin-bottom: 24px;
  background-color: #f2f2f2;
  height: 23em;
  width: 16em;
  float: left;
  padding: 2px;
  font-size: small;
  overflow: hidden;
}
.layoutbox:hover {
  margin-top: 10px;
  margin-left: 11px;
  background-color: #ffffff;
  box-shadow: 0 0 10px #000;
  z-index: 2;
  transition: all 200ms ease-in;
}
.LabelPrice {
  background-color: white;
  border: 1px groove;
  color: #0d47a1;
  border-top: 0;
  border-left: none;
  padding: 5px;
  border-radius: 3px;
}
.badgehome {
  width: 237px;
  overflow: hidden;
  background-color: #bc4106;
  border-radius: 4px;
  color: #fff;
  text-align: left;
}

.img-circle {
  border-radius: 50%;
}

.captionrepeater {
  color: #0085c1;
  font-size: 10px;
  height: 2em;
  line-height: 25px;
  font-family: serif;
  margin: 0 0 6px;
  padding: 4px 7px 0;
  word-wrap: break-word;
  border-top: 3px solid;
  border-color: #607d8b;
}
.socialbtnNC {
  text-align: center;
  width: 108px;
  height: 31px;
  float: right;
  border-radius: 100px;
  margin: 0 2px 1px 0;
  padding: 0;
  color: #4b6ea8;
  display: inline-flex;
}
.facebook a,
.twitter a,
.google-plus a {
  display: block;
  width: 100%;
  color: #4b6ea8 !important;
}
.twitter a {
  color: #4fd5f8 !important;
}
.google-plus a {
  color: #dd4b39 !important;
}
.facebook:hover a {
  color: #ffffff !important;
  background-color: #4b6ea8 !important;
}
.twitter:hover a {
  color: #ffffff !important;
  background-color: #4fd5f8 !important;
}
.google-plus:hover a {
  color: #ffffff !important;
  background-color: #dd4b39 !important;
}
