/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
  width: 100%;
  margin: 0px auto;
  position: relative;
  min-height: 100%;
  top: 0px;
  padding: 0px;
  /* width: 100%;
    height:100%; */
}
html {
  height: 100%;
}
.home-load-spinner {
  border-left: 16px solid #38b5bb;
  border-right: 16px solid #ce7508;
  border-radius: 50%;
  width: 209px;
  height: 197px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: 26em auto !important;
  /* margin: 5em 0 0 42em;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #697b87;
  border-bottom: 16px solid #ff3b3b;
  border-left: 16px solid #38b5bb;
  border-right: 16px solid #ce7508;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite; */
}

.loader-lg {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #697b87;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  top: 50%;
  margin-top: 5em;
  left: 50%;
  margin-left: -100px;
  position: relative;
  text-align: center;
}
.loader-sm {
  width: 43px;
  height: 42px;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #697b87;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  top: 50%;
  margin-top: 5em;
  left: 50%;
  margin-left: -100px;
  position: relative;
  text-align: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
