<p id="status">Online</p>
<h3>Overview.</h3>
<div id="itemData" *ngFor="let item of enteredData;let i=index;">
  make:{{enteredData}}
  model:{{enteredData}}
</div>
<form [formGroup]="itemForm">
  <label for="id">Id:</label><input type="text" formControlName="id" id="id" disabled="true" />
  <label for="make">Make:</label><input type="text" formControlName="make" id="make" />
  <label for="model">Model:</label><input type="text" formControlName="model" id="model" /> <br>
  <br>
  <input type="button" name="create" value="create" (click)="onCreate()" />
  <input type="button" name="update" value="update" (click)="onUpdate()" />
  <input type="button" name="delete" value="delete" (click)="onDelete()" />
</form>
<div id="status"></div>
