<div>hello from home inside angular,this means angular route works!!</div>
<p id="status">Online</p>
<h3>Overview.</h3>
<ul id="itemData">
</ul>
<h3>Details</h3>
<form name="itemForm">
  <label for="id">Id:</label><input type="text" name="id" id="id" size=2 disabled="true" />
  <label for="amount">Qty:</label><input type="text" name="amount" id="amount" size=3 />
  <label for="name">Name:</label><input type="text" name="name" id="name" size=10 /> <br>
  <br>
  <input type="button" name="create" value="create" onclick="onCreate()" />
  <input type="button" name="update" value="update" onclick="onUpdate()" />
  <input type="button" name="delete" value="delete" onclick="onDelete()" />
</form>
<p id="status">Online</p>
<div id="status"></div>


<!--<app-index></app-index>

<div class="limitedDeal-container">
  <ul class="limitedDeal-medium-header">
    <li *ngFor="let offer of limitedOffer" class="list-nav-header">
      {{offer.offerTitle | uppercase}}
      <div class="limitedDeal-endDate">
        <span class="glyphicon glyphicon-time"></span>Ends: {{offer.dateEnds | uppercase}}
      </div>
    </li>
  </ul>
</div>
<app-limited-offer></app-limited-offer>
<app-new-arrival></app-new-arrival>
<app-product-carousel></app-product-carousel>-->
