@import '../../Style/styles.scss';
.right-container {
  border: 1px solid red;
  @include display-flex();
}

//limited deals scss:
.limitedDeal-container {
  @include display-flex();
  color: white;
  width: 87%;
  padding: 0%;
  background-color: #d6002a;
  margin-top: 2%;
  margin-left: 6.58%;
}

.limitedDeal-medium-header {
  @include display-flex();
  align-items: center;
  justify-content: center;
  margin: 0px;
}

.list-nav-header {
  //   margin-right: 2%;
     list-style: none;
  //   font-family: sans-serif;
    font-weight: 600;
    font-size: x-large;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
}

.limitedDeal-endDate {
  margin-left: 2%;
  font-family: sans-serif;
  font-weight: 200;
  font-size: smaller;
}
