<mat-form-field class="example-chip-list w-100" *ngIf="multiStringOptions">
  <div class="custom-search-glyphicon">
    <i class="fa fa-search"></i>
  </div>

  <mat-chip-list #chipList>
    <mat-chip *ngFor="let fruit of searchStringOption" [selectable]="selectable"
    [removable]="removable" (removed)="remove(fruit)">
      {{fruit}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>

    <input id="multiAutoCompleteSearchBox" placeholder="Search keywords:"
    #searchInput [formControl]="searchStringCtrl"
      [matAutocomplete]="auto" [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let fruit of filteredSearchStrings | async" [value]="fruit">
      {{fruit}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>




<mat-form-field class="example-full-width w-100" *ngIf="!multiStringOptions">
  <div class="custom-search-glyphicon">
    <i class="fa fa-search"></i>
  </div>

  <input id="singleAutoCompleteSearchBox" placeholder="Search keyword:"
  #searchInput matInput [formControl]="searchStringCtrl"
    [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of filteredSearchStrings | async" [value]="option">
      {{option}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
