################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NepFlex/v15/Server/sqlite3
/Core/obj/Debug
/DataAccess/obj/Debug
/DependencyResolution/obj/Debug
/ServiceAPI/obj/Debug
/WebUI/obj/Debug
