@import '../../../Style/styles.scss';
.shopping-body {
  height: 64%;
  margin-left: 1%;
  margin-right: 1%; // display: inline-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  margin-bottom: 1%;
}

.border-cart-status {
  border: $border-gray; //border-radius: 2%;
  height: 100%;
  width: 59%;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  margin-right: 1%;
}

.title-shopping-bag {
  background-color: $background-color-red;
  width: 100%;
  height: 8%;
  margin-bottom: 1%;
  color: $font-color-white;
  font-size: x-large;
  font-family: $font-family;
}

.apply-code {
  border-top: 2px solid rgb(236, 233, 234);
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.empty-cart {
  background-image: url($empty-cart);
  background-repeat: no-repeat;
  width: 95%;
  height: 88%;
  margin-left: 2%;
}

//order Summary
.order-summary-body {
  @include display-flex();
  flex-direction: column;
  width: 48%;
  height: 64%;
  margin-left: 1%;
  display: inline-flex;
}

.order-summary {
  border: $border-gray; //border-radius: 2%;
  height: 100%; // width: 100%;
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  flex-direction: column;
  display: flex;
}

.order-summary-container {
  height: 64%;
  margin-left: 1%;
  margin-right: 1%; // display: inline-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.on-empty-cart {
  flex: 1 1 auto;
  align-self: auto;
  width: 100%;
}

.order-summary-item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  height: 50px;
  border-bottom: $border-gray;
}

.order-summary-label {
  width: 59%;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  margin-right: 1%;
  margin-left: 10%;
  font-size: large;
  font-family: $font-family;
}

.order-summary-value {
  order: 0;
  flex: 1 0 auto;
  align-self: auto;
  flex-direction: row;
  font-size: large;
  font-family: $font-family;
}

.input-apply-code {
  display: flex;
  outline: none;
  border: none;
  align-items: stretch;
}

.applycode-btn {
  color: #fff;
  background-color: $background-color-red;
  border-color: #ffffff;
  border-radius: 0%;
}
.checkout-btn {
  color: #fff;
  background-color: $background-color-red;
  border-color: #ffffff;
  border-radius: 0%;
}

//you-may-like
.you-may-like {
  border: $border-gray;
  height: 64%;
  margin-left: 1%;
  margin-right: 1%; // display: inline-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}
