<div class="fancy-box">
  <div class="container" *ngIf="checkIfBanner">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div attr.data-test-id="carousel_image{{i}}" *ngFor="let image of images; let i=index;" class="item {{image.setactive}}">
          <img attr.data-test-id="src_image{{i}}" src="{{image.url}}" class="img-responsive backgroundimg" alt="">
        </div>
      </div>
    </div>
    <div class="main-text hidden-xs">
      <div class="col-md-12 text-center">
        <h1>Memorial Day Sale</h1>
        <h3>All item 25% to 50% OFF.</h3>
      </div>

    </div>
    <div class="overlay-tabs hidden-xs">
      <a class="btn btn-clear btn-sm btn-min-block" href="#">Men</a>
      <a class="btn btn-clear btn-sm btn-min-block" href="#">Woman</a>
    </div>
  </div>

  <div class="container">
     <img attr.data-test-id="src_imagegrocery" src="../dist/assets/images/groceryshopping.png" class="img-responsive backgroundimg" alt="">
      <div class="grocery-fixed hidden-xs">
      <div class="col-md-12 text-center">
        <h1>First time in Nepal now</h1>
        <h3>purchase grocery online and get delivery</h3>
      </div>
    </div>
  </div>
</div>
