@import '../../../../Style/styles.scss';
.hidden {
  display: none;
  visibility: hidden;
}
.link {
  color: brown;
}
.header-search-box {
  flex: 1 1 auto;
  background: black;
}
.home-desktop-body {
  @include display-parent-flex(column,nowrap,flex-start,normal,flex-start);
  height: 100%;
}
.home-desktop-header {
  @include display-child-flex(0,1,auto,auto);
  height: 4em;
}
.home-desktop-container {
  @include display-child-flex(1,1,auto,auto);
  width: 70vw !important;
  max-width: 1080px !important;
  margin: 4em auto!important;
  background: #f8f9fa00;
}
.home-desktop-footer {
  @include display-child-flex(0,1,auto,auto);
}
@media (max-width: 992px){
  .home-desktop-container {
    order: 0;
    flex: 1 1 auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    width: auto;
    width: auto !important;
    max-width: 1080px !important;
    margin: 1em auto !important;
    background: #f8f9fa00;
    padding: 0;
  }
}
