.custom-dropdown {
  list-style: none;
}
.list-group-item{
  color: black;
  border:none;
}

.list-group-item:hover {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: rgb(187, 186, 186);
  border: 1px solid #ddd;
}

.dropdown-menu{
  font-size: 10px;
  min-width: 114px;
}
