<!-- <div class="custom-dropdown">
  <div class="dropdown">
    <div [hidden]="!showDropdownLabel"  data-toggle="dropdown" style="text-shadow: none">{{dropdownLabel}}</div>
    <ul class="dropdown-menu">
      <li class="list-group-item" *ngFor="let item of dropdownOptions;let i=index" (click)="routeDropdownTo(item.url)">{{item.label}}
    </ul>
  </div>
</div> -->

<span *ngFor="let item of dropdownOptions;let i=index; last as isLast ;" [ngClass]="{'border-right':!isLast}">
  <span *ngIf="item.children && item.children.length > 0">
    <button mat-button [matMenuTriggerFor]="menu.childMenu" class="btn btn-outline-light" [disabled]="item.disabled">
      {{item.displayName}}
    </button>
    <app-child-dropdown #menu [items]="item.children"></app-child-dropdown>
  </span>
  <span *ngIf="!item.children || item.children.length === 0">
    <button mat-button color="primary" class="btn btn-outline-light" (click)="routeDropdownTo(item.route)">
      {{item.displayName}}
    </button>
  </span>
</span>
