<mat-form-field class="example-chip-list w-100">
  <div class="custom-search-glyphicon" *ngIf="!searchButtonOnOff()">
    <i class="fa fa-search"></i>
  </div>

  <mat-chip-list #chipList>
    <mat-chip *ngFor="let item of searchStringOption" [selectable]="selectable" [removable]="removable"
      (removed)="remove(item)">
      {{item}}
      <mat-icon matChipRemove *ngIf="removable && item">cancel</mat-icon>
    </mat-chip>

    <input id="multiAutoCompleteSearchBox" placeholder="Search keywords:" #searchInput [formControl]="searchStringCtrl"
      [matAutocomplete]="auto" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
    <!-- <a *ngIf="!searchButtonOnOff() && multiStringOptions" class="btn btn-primary btn-join" (click)="searchBtnClicked($event, false)">Search</a> -->
    <a *ngIf="searchButtonOnOff()" class="btn btn-primary btn-join float-right"
      (click)="searchBtnClicked($event)">Search</a>
  </mat-chip-list>

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let item of filteredSearchStrings | async" [value]="item">
      {{item}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>


<!-- <mat-form-field class="example-full-width w-100" *ngIf="!multiStringOptions">
  <div class="custom-search-glyphicon" *ngIf="!searchInput.value">
    <i class="fa fa-search"></i>
  </div>

  <input id="singleAutoCompleteSearchBox" placeholder="Search keyword:" #searchInput matInput [formControl]="searchStringCtrl"
    [matAutocomplete]="auto">
    <a *ngIf="searchInput.value" class="btn btn-primary btn-join float-right" (click)="searchBtnClicked($event, true)">Search</a>
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of filteredSearchStrings | async" [value]="option">
      {{option}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field> -->
