@import '../../../../Style/styles.scss';

.home-search-overlay-body {
  @include display-parent-flex(column,nowrap,flex-start,flex-start,flex-start);
  background: #ffffff;
  color: #0a0a0a;
  z-index: 1;
  width: 92.5em;
  border-radius: 5px;
  min-height: 7em;
  max-height: 29em;
  top: 54px;
  -webkit-box-shadow: 0px 0px 8px 1px #a7a7a7;
  box-shadow: 0px 0px 8px 1px #a7a7a7;
  position: absolute;
  overflow: auto;
  padding: 1em;
  font-size: 11px;
  font-family: sans-serif;
}
.home-search-overlay-container {
  @include display-parent-flex(row,nowrap,flex-start,flex-start,flex-start);
}
.home-overlay-button {
  @include display-child-flex(1,1,auto,auto);
  border: 1px solid gray;
  padding: 0.5em;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif !important;
  font-size: 20px !important;
  letter-spacing: -0.8px !important;
  padding-bottom: 8px !important;
  color: #565151 !important;
  font-weight: normal !important;
  margin-right: 1em;
}
.home-overlay-button:hover {
  background-color: #E4E4E4;
}
