<!-- <div class="global-desktop-body">
  <div class="global-desktop-header"> -->
<app-desktop-header></app-desktop-header>
<!-- </div> -->
<!-- <div class="global-desktop-container">
    <div class="body-container">
      <div class="imgaboutus"></div>
      <div class="info-blocks"> -->
<div class="faq-info jumbotron" id="aboutUsInfo">
  <div class="title-text">FAQ</div>
  <div>
    <div class="accordion" id="accordion">
      <div class="card">
        <div class="card-header">
          <span class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Q.1 How to post items?</a>
          </span>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
          <div class="card-body">To post any items, user have to log in. After successful login you will be redirected to MyHome page.To post items
            fill the form with Image, category and click the post button.</div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <span class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Q.2 How to post articles?</a>
          </span>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="card-body">To post any articles, user have to log in. After successful login you will be redirected to MyHome page.To post
            articles click post article on top navigation and fill the form with Image, category and click the post button.</div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <span class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Q.3 How to post Coupons? and are they free to post?</a>
          </span>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
          <div class="card-body">
            To post any coupons, user have to log in. After successful login you will be redirected to MyHome page. To post Coupons click
            post Coupons on top navigation and fill the form with Image and with your company logo and lastly click the post
            button.
            <br />
            <p>&nbsp</p>
            And yes, it is totally free to post coupons.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <span class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
              Q.4 is it free to post all items into nepalicraig?</a>
          </span>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
          <div class="card-body">yes, it is totally free to post into nepalicraig</div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <span class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
              Q.5 How often can I post?</a>
          </span>
        </div>
        <div id="collapse5" class="panel-collapse collapse">
          <div class="card-body">Except articles you can post anytime any number of items</div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <span class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
              Q.6 Why is article allowed only one per hour?</a>
          </span>
        </div>
        <div id="collapse6" class="panel-collapse collapse">
          <div class="card-body">
            articles are allowed one per hour because nepalicraig doesnot want robot entry.</div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <span class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
              Q.7 What kind of postings are prohibited?</a>
          </span>
        </div>
        <div id="collapse7" class="panel-collapse collapse">
          <div class="card-body">
            NepaliCraig prohibits items with html tags, it means user should always use plain text to enter the value.
            <br /> please, see our
            <a href="termsofuse" runat="server">terms and condition </a>before posting
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <span class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">
              Q.8 What should I do if someone harasses me by posting a prank posting?</a>
          </span>
        </div>
        <div id="collapse8" class="panel-collapse collapse">
          <div class="card-body">if you think you are been pranked or harassment through different factor nepalicraig suggest you to report us or
            contact us immediately</div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <span class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">
              Q.9 Can i post add on behalf of other? or related to other company?</a>
          </span>
        </div>
        <div id="collapse9" class="panel-collapse collapse">
          <div class="card-body">
            Unauthorized posting is strictly prohibited on nepalicraig. If found to be then the Violators have to pay the amount for
            each posting.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <span class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse10">Q.10 How can I edit my posted items?</a>
          </span>
        </div>
        <div id="collapse10" class="panel-collapse collapse">
          <div class="card-body">once you log in and go to myhome page to delete or maintain the post</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="right-section" id="contactUsInfo">
            <div class="contact-us-info">
              <div class="title-about-us">Contact Us</div>
              <label>you need to login to contact..</label>
            </div>
            <div class="terms-of-service-info">
                <div class="title-about-us">Terms and Condition</div>
                <label [routerLink]="['../termsofuse']">See Terms and Condition</label>
              </div>
          </div> -->
<!-- </div>
    </div>
  </div> -->
<div class="global-desktop-footer">
  <app-desktop-footer></app-desktop-footer>
</div>
<!-- </div> -->
