<!-- <form class="example-form container">
    <mat-form-field class="example-full-width">
      <mat-label>Company</mat-label>
      <input matInput placeholder="enter company only if you have">
    </mat-form-field>
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>First Name</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Last Name</mat-label>
        <input matInput>
      </mat-form-field></td>
    </tr></table>
  
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Address</mat-label>
        <textarea matInput placeholder="Ex. 100 Main St"></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Address 2</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </p>
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>City</mat-label>
        <input matInput placeholder="Ex. San Francisco">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>State</mat-label>
        <input matInput placeholder="Ex. California">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Postal Code</mat-label>
        <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
        <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
      </mat-form-field></td>
    </tr></table>

    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
      <mat-label>Telephone</mat-label>
      <span matPrefix>+1 &nbsp;</span>
      <input type="tel" matInput placeholder="123-456-7890">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>

    <div id="register-link">
      <a href="register" class="btn btn-info btn-md">Register</a>
    </div>
  </form> -->

  <form [formGroup]="registerForm" class="form example-form container" autocomplete="off">
    <app-text-area data-test-id="user_company" placeholder='company' formControlName="company" textType='text' (newData)="onchangeform($event,'company')"></app-text-area>
    <mat-error *ngIf="showFCError">{{companyFCError}}</mat-error>
    <app-text-area data-test-id="user_firstname" placeholder='firstname' formControlName="firstname" textType='text' (newData)="onchangeform($event,'firstname')"></app-text-area>
    <mat-error *ngIf="showFCError">{{firstnameFCError}}</mat-error>
    <app-text-area data-test-id="user_lastname" placeholder='lastname' formControlName="lastname" textType='text' (newData)="onchangeform($event,'lastname')"></app-text-area>
    <mat-error *ngIf="showFCError">{{lastnameFCError}}</mat-error>
    <app-text-area data-test-id="user_address" placeholder='address' formControlName="address" textType='text' (newData)="onchangeform($event,'address')"></app-text-area>
    <mat-error *ngIf="showFCError">{{addressFCError}}</mat-error>
    <app-text-area data-test-id="user_address2" placeholder='address2' formControlName="address2" textType='text' (newData)="onchangeform($event,'address2')"></app-text-area>
    <mat-error *ngIf="showFCError">{{address2FCError}}</mat-error>
    <app-text-area data-test-id="user_city" placeholder='city' formControlName="city" textType='text' (newData)="onchangeform($event,'city')"></app-text-area>
    <mat-error *ngIf="showFCError">{{cityFCError}}</mat-error>
    <app-text-area data-test-id="user_state" placeholder='state' formControlName="state" textType='text' (newData)="onchangeform($event,'state')"></app-text-area>
    <mat-error *ngIf="showFCError">{{stateFCError}}</mat-error>
    <app-text-area data-test-id="user_zipcode" placeholder='zipcode' formControlName="zipcode" textType='text' (newData)="onchangeform($event,'zipcode')"></app-text-area>
    <mat-error *ngIf="showFCError">{{zipcodeFCError}}</mat-error>
    <app-text-area data-test-id="user_email" placeholder='email' formControlName="email" textType='email' (newData)="onchangeform($event,'email')"></app-text-area>
    <mat-error *ngIf="showFCError">{{emailFCError}}</mat-error>
    <app-text-area data-test-id="user_phonenumber" placeholder='phonenumber' formControlName="phonenumber" textType='text' (newData)="onchangeform($event,'phonenumber')"></app-text-area>
    <mat-error *ngIf="showFCError">{{phonenumberFCError}}</mat-error>
    <app-text-area data-test-id="user_username" placeholder='username' formControlName="username" textType='text' (newData)="onchangeform($event,'username')"></app-text-area>
    <mat-error *ngIf="showFCError">{{usernameFCError}}</mat-error>
    <!-- <app-text-area data-test-id="user_password" placeholder='password' formControlName="password" textType='text' (newData)="onchangeform($event,'password')"></app-text-area>
    <mat-error *ngIf="showFCError">{{passwordFCError}}</mat-error> -->
    <div class="form-group">
      <div class="custom-search-glyphicon">
        <i class="pass_show" (click)="passwordShowField($event)" *ngIf="!hide"></i>
        <i class="pass_hide" (click)="passwordShowField($event)"*ngIf="hide"></i>
      </div>
      <label for="password" class="text-info">Password:</label><br>
      <input type="text" id="strPassword" [type]="hide ? 'password' : 'text'" class="form-control passwordField"
        formControlName="password">
    </div>
    <app-animated-button [buttonCollections]="detailButttons" (click)="registerNow()"></app-animated-button>
  </form>
  
  