<!-- <form class="example-form container">
    <mat-form-field class="example-full-width">
      <mat-label>Company</mat-label>
      <input matInput placeholder="enter company only if you have">
    </mat-form-field>
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>First Name</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Last Name</mat-label>
        <input matInput>
      </mat-form-field></td>
    </tr></table>
  
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Address</mat-label>
        <textarea matInput placeholder="Ex. 100 Main St"></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Address 2</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </p>
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>City</mat-label>
        <input matInput placeholder="Ex. San Francisco">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>State</mat-label>
        <input matInput placeholder="Ex. California">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Postal Code</mat-label>
        <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
        <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
      </mat-form-field></td>
    </tr></table>

    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
      <mat-label>Telephone</mat-label>
      <span matPrefix>+1 &nbsp;</span>
      <input type="tel" matInput placeholder="123-456-7890">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>

    <div id="register-link">
      <a href="register" class="btn btn-info btn-md">Register</a>
    </div>
  </form> -->

  <form [formGroup]="form" class="form example-form container" autocomplete="off">
    <app-text-area data-test-id="sender_email" placeholder='company' formControlName="company" textType='text' (newData)="prepareToSendEmail($event,'senderEmail')"></app-text-area>
    <mat-error *ngIf="showFCError">{{companyFCError}}</mat-error>
    <app-text-area data-test-id="sentTo_email" placeholder='firstname' formControlName="firstname" textType='text' (newData)="prepareToSendEmail($event,'sentToEmail')"></app-text-area>
    <mat-error *ngIf="showFCError">{{firstnameFCError}}</mat-error>
    <app-text-area data-test-id="sentTo_email" placeholder='lastname' formControlName="lastname" textType='text' (newData)="prepareToSendEmail($event,'subjectEmail')"></app-text-area>
    <mat-error *ngIf="showFCError">{{lastnameFCError}}</mat-error>
    <app-text-area data-test-id="emailText_email" placeholder='address' formControlName="address" textType='text' (newData)="prepareToSendEmail($event,'emailText')"></app-text-area>
    <mat-error *ngIf="showFCError">{{addressFCError}}</mat-error>
    <app-text-area data-test-id="emailText_email" placeholder='address2' formControlName="address2" textType='text' (newData)="prepareToSendEmail($event,'emailText')"></app-text-area>
    <mat-error *ngIf="showFCError">{{address2FCError}}</mat-error>
    <app-text-area data-test-id="sender_email" placeholder='city' formControlName="city" textType='text' (newData)="prepareToSendEmail($event,'senderEmail')"></app-text-area>
    <mat-error *ngIf="showFCError">{{cityFCError}}</mat-error>
    <app-text-area data-test-id="sender_email" placeholder='state' formControlName="state" textType='text' (newData)="prepareToSendEmail($event,'senderEmail')"></app-text-area>
    <mat-error *ngIf="showFCError">{{stateFCError}}</mat-error>
    <app-text-area data-test-id="sender_email" placeholder='zipcode' formControlName="zipcode" textType='text' (newData)="prepareToSendEmail($event,'senderEmail')"></app-text-area>
    <mat-error *ngIf="showFCError">{{zipcodeFCError}}</mat-error>
    <app-text-area data-test-id="sender_email" placeholder='email' formControlName="email" textType='email' (newData)="prepareToSendEmail($event,'senderEmail')"></app-text-area>
    <mat-error *ngIf="showFCError">{{emailFCError}}</mat-error>
    <app-text-area data-test-id="sender_email" placeholder='phonenumber' formControlName="phonenumber" textType='text' (newData)="prepareToSendEmail($event,'senderEmail')"></app-text-area>
    <mat-error *ngIf="showFCError">{{phonenumberFCError}}</mat-error>
    <app-text-area data-test-id="sender_email" placeholder='username' formControlName="username" textType='text' (newData)="prepareToSendEmail($event,'senderEmail')"></app-text-area>
    <mat-error *ngIf="showFCError">{{usernameFCError}}</mat-error>
    <app-text-area data-test-id="sender_email" placeholder='password' formControlName="password" textType='password' (newData)="prepareToSendEmail($event,'senderEmail')"></app-text-area>
    <mat-error *ngIf="showFCError">{{passwordFCError}}</mat-error>
    <app-animated-button [buttonCollections]="detailButttons" (click)="registerNow()"></app-animated-button>
  </form>
  
  