<div class="filter-body">
  <div class="filter-container custom-filter">
    <div class="group-by">
      <label data-test-id="lblCategory">Category :</label>
      <select id="selectFilterByTopCategory" data-test-id='filterByTopCategory' (change)="changedFilterBy($event,'topCategory')">
        <option *ngFor="let item of itemDescriptions; let i=index">{{item.category}}</option>
      </select>
    </div>
    <div class="group-by">
      <label data-test-id="lblCategory">Order By :</label>
      <select id="selectFilterByOrderBy" data-test-id='filterByOrderBy' (change)="changedFilterBy($event,'OrderBy')">
        <option *ngFor="let items of orderListBy; let i=index">{{items}}</option>
      </select>
    </div>
    <div class="group-by">
      <label data-test-id="lblCategory">Model :</label>
      <select id="selectFilterBySubCategory" data-test-id='filterByModel' (change)="changedFilterBy($event,'modal')">
        <option *ngFor="let item of itemDescriptions; let i=index">{{item.warranty}}</option>
      </select>
    </div>
    <div class="group-by">
      <label data-test-id="lblCategory">Condition :</label>
      <select id="selectFilterBySubCategory" data-test-id='filterByCondition' (change)="changedFilterBy($event,'condition')">
        <option *ngFor="let item of itemDescriptions; let i=index">{{item.condition}}</option>
      </select>
    </div>
  </div>
  <!-- <div class="close-button"></div> -->
</div>
