   <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" (click)="RouteTo('')">
                <h3 class="my-heading ">Updated<span class="bg-main">Cloud</span></h3>
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars mfa-white"></span>
            </button>

            <div id="main">
                <a href="javascript:void(0)" class="openNav"><span class="fa fa-bars" onclick="openNav()"></span></a>
            </div>

            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                <ul class="mob-ul">
                   <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                   <li class="nav-item"><a class="nav-link" href="#">About</a></li>
      
                   <li class="nav-item"><a class="nav-link" href="#">Events</a></li>
                   <li class="nav-item"><a class="nav-link" href="#">Groups</a></li>
                   <li class="nav-item"><a class="nav-link" href="#">Music</a></li>
                   <li class="nav-item"><a class="nav-link" href="#">Marketplace</a></li>
                   <li class="nav-item"><a class="nav-link" href="#">Featured Artists</a></li>
                   <li class="nav-item"><a class="nav-link" href="#">Login</a></li>
                   <li class="nav-item"><a class="nav-link" href="#">Register</a></li>
      
      
                </ul>
              </div>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-link active">
                        <button class="btn btn-primary btn-block btn-login" (click)="RouteTo('home')">Home</button>
                    </li>
                    <li class="nav-link">
                        <button class="btn btn-primary btn-block btn-login" (click)="loginPopUp()">Login</button>
                    </li>
                    <li class="nav-link">
                        <button class="btn btn-primary btn-block btn-login" (click)="RouteTo('register')">Register</button>
                    </li>

                </ul>
            </div>

        </div>
    </nav>

    <app-modal *ngIf="showPopUpModal"></app-modal>
