@import "../../styles-desktop/styles.scss";
@import "../../../shared/styles-shared/styles.scss";

.header-body {
  @include displayFlex(nowrap, row, flex-start, stretch, stretch);
  background: #5f0000;
  color: white;
  padding: 1em;
  position: fixed;
  width: 100%;
  z-index: 2;
}
.header-container{
  @include displayFlex(nowrap, row, flex-start, stretch, stretch);
}
.logo {
  @include displayFlexChild(0, 0, 15em, 0, auto);
  font-family: cursive;
  // font-size: 5em;
  font-weight: bolder;
}
.list-container{
  @include displayFlexChild(0, 0, auto, 0, auto);
  margin-right: 1em;
}

.social {
  text-align: center;
  width: 43px;
  height: 38px;
  float: right;
  background: #00345d;
  box-shadow: none;
  border-radius: 100px;
  margin: 0 2px 1px 0;
  padding: 4px;
  color: #4b6ea8;
}
