<div class="footer1">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <ul class="list-unstyled clear-margins">
          <li class="widget-container widget_nav_menu">
            <h1 class="title-widget">ABOUT</h1>
            <ul>
              <li><a href="#"><i class="fa fa-angle-double-right"></i> ASHOK1</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i> Contact Us</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i> ASHOK2</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i> ASHOK3</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i> Membership</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i> ASHOK4</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i> ASHOK5</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i> ASHOK6</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- widgets column left end -->
      <div class="col-lg-3 col-md-3">
        <ul class="list-unstyled clear-margins">
          <li class="widget-container widget_nav_menu">
            <h1 class="title-widget">CUSTOMER</h1>
            <ul>
              <li><a href="#"><i class="fa fa-angle-double-right"></i>  ASHOK1.1</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i>  ASHOK1.2</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i>  ASHOK1.3</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i>  ASHOK1.4</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i>  ASHOK1.5</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i>  ASHOK1.6</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i>  ASHOK1.7</a></li>
              <li><a href="#" target="_blank"><i class="fa fa-angle-double-right"></i> ASHOK1.8</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- widgets column left end -->
      <div class="col-lg-3 col-md-3">
        <ul class="list-unstyled clear-margins">
          <li class="widget-container widget_nav_menu">
            <h1 class="title-widget">DELIVERY</h1>
            <ul>
              <li><a href="#"><i class="fa fa-angle-double-right"></i> Enquiry Form</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i> ASHOK2.1</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i> ASHOK2.1</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i> ASHOK2.1</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i> ASHOK2.1</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i> ASHOK2.1</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i> ASHOK2.1</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i> ASHOK2.1</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <!-- widgets column left end -->
      <div class="col-lg-3 col-md-3">
        <ul class="list-unstyled clear-margins">
          <li class="widget-container widget_recent_news">
            <h1 class="title-widget">Contact Detail </h1>
            <div class="footerp">
              <h2 class="title-median">WE</h2>
              <p><b>Email id:</b> <a href="mailto:info@webenlance.com">nepflex.cs@nepflex.com</a></p>
              <p><b>Customer Service </b>
                <b>(8AM to 10PM):</b> +1-123456789, +1-0123456789 </p>
              <p><b>Corp Office / Postal Address</b></p>
              <p><b>Phone Number : </b>123456789, </p>
            </div>

            <!--<div class="social-icons">
              <ul class="nomargin">
                <a href="https://www.facebook.com/bootsnipp"><i class="fa fa-facebook-square fa-3x social-fb" id="social"></i></a>
                <a href="https://twitter.com/bootsnipp"><i class="fa fa-twitter-square fa-3x social-tw" id="social"></i></a>
                <a href="https://plus.google.com/+Bootsnipp-page"><i class="fa fa-google-plus-square fa-3x social-gp" id="social"></i></a>
                <a href="mailto:bootsnipp@gmail.com"><i class="fa fa-envelope-square fa-3x social-em" id="social"></i></a>
              </ul>
            </div>-->
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--header-->

<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="copyright">
          © 2017, NepFlex -All rights reserved
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="design">
          <a href="#">common deals </a> | <a target="_blank" href="http://www.nepflex.com">deals for members</a>
        </div>
      </div>
    </div>
  </div>
</div>
