.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
  & input {
    width: 93%;
  }
}
textarea {
  min-height: 15em;
  width:93%;
}

.text-clear-button {
  color: #e0e0e0;
}
