@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Simple Blog Application</h1>
    <div>@Html.ActionLink("Create New Blog", "CreateNewBlog", "Home")</div>
</div>

<div id="myBlog_row" class="row blog-custom-style">
    <div id="myBlog_col" class="col-md-12">
    </div>
</div>

