@import '../../../../Style/styles.scss';
@mixin custom {
  // border-radius: 4px !important;
  // border: 1px solid #dbdbdb !important;
  //box-shadow: 0 5px 30px rgba(156, 160, 171, 0.25) !important;
  background: #f9f9f9;
  padding: 33px !important;
}
.info-blocks {
  @include display-parent-flex(row,nowrap,flex-start,flex-start,flex-start);
  //border-radius: 4px !important;
  //border: 1px solid #dbdbdb !important;
  box-shadow: 0 5px 30px rgba(156, 160, 171, 0.25) !important;
  background: #f9f9f9;
}
.body-container {
  padding: 8em;
}
.terms-of-use-info {
  @include body-page-container(100% ,42px,#484848,#ffffff);
  @include display-child-flex(0,1,auto,auto);
}
.terms-of-service-info {
  //@include body-page-container(41% ,42px,#484848,#ffffff);
  @include display-child-flex(0,1,auto,auto);
  @include custom();
}

.left-section {
  // @include body-page-container(auto ,42px,#484848,#ffffff);
  @include display-child-flex(0,1,auto,auto);
  @include custom();
}
.middle-section {
  @include display-child-flex(1,1,auto,auto);
  @include display-parent-flex(column,nowrap,flex-start,flex-start,flex-start);
}
.right-section {
  @include custom();
  @include display-child-flex(0,1,auto,auto);
  @include display-parent-flex(column,nowrap,flex-start,flex-start,flex-start);
}
.photo-section {
  // @include body-page-container(auto ,42px,#484848,#ffffff);
  @include display-child-flex(0,1,auto,auto);
  @include custom();
  width: 100%;
}
.detail-description {
  //@include body-page-container(auto ,42px,#484848,#ffffff);
  @include display-child-flex(0,1,auto,auto);
  @include custom();
  width: 100%;
}
i {
  font-size: 1em;
  color: #4e2f11;
  width: 100%;
  text-align: center;
}
.detail-about-poster {
  //  @include body-page-container(auto ,42px,#484848,#ffffff);
  @include display-child-flex(0,1,auto,auto);
}

.imgaboutus {
  background-image: url($nCImageAboutusPage);
  width: 13em;
  height: 8em;
  content: '';
  display: block;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 1;
  margin-left: 35em;
}
.title-text {
  @include custom-font-style(35px,56px,-0.8px,1px,8px,#6f6f6f,normal);
}

.field-container {
  background-color: #f9f9f9;
  border-bottom: 1px solid #c1c1c1;
}
.field-container {
  & .user-photo-thumbnil {
    font-size: 168px;
    color: #e0e0e0;
  }
}

.custom-glyphicon {
  font-size: 2em;
  color: #e0e0e0;
  float: left;
  margin-right: 0.5em;
  width: 1em;
}
.field-title {
  width: 15em;
  font-size: large;
  color: #415967;
}
.container-title {
  font-size: 2em;
  color: #868686;
  text-align: center;
  box-shadow: 0 5px 30px rgba(156, 160, 171, 0.25) !important;
  background: #ffffff;

  // font-size: 2em;
  // background-color: #415967;
  // color: white;
  // text-align: center;
}
.detail-header {
  @include display-child-flex(0,1,auto,auto);
  border-radius: 4px !important;
  border: 1px solid #dbdbdb !important;
  text-align: center;
}
.header-field-container {
  padding: 8px !important;
  font-size: xx-large;
  color: #888888;
}
.header-field-title {
  color: #888888;
}
.as {
  & span {
    color: #888888;
    font-size: medium;
  }
}

.description {
  padding-left: 1em;
}
