<div class="global-desktop-body">
    <div class="global-desktop-header">
      <app-desktop-header></app-desktop-header>
    </div>
    <div class="global-desktop-container">
      <div class="body-container">
        <div class="imgaboutus"></div>
        <div class="info-blocks">
          <div class="terms-of-use-info" id="aboutUsInfo">
            detail
            <!-- <div class="title-text" [innerHTML]="termsOfUseTitle"></div>
            <div [innerHTML]="termsOfUseText"></div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="global-desktop-footer">
      <app-desktop-footer></app-desktop-footer>
    </div>
  </div>
