<div class="global-desktop-body">
  <div class="global-desktop-header">
    <app-desktop-header></app-desktop-header>
  </div>
  <div class="global-desktop-container">
    <div class="body-container">
      <div class="imgaboutus"></div>
      <div class="info-blocks">
        <div class="container" id="aboutUsInfo">
          <app-carousel></app-carousel>
          <div *ngFor="let item of itemDetail;let i=index;">
            {{item.title}}
            {{item.image}}
            {{item.detail}}
            {{item.name}}
            {{item.email}}
            {{item.contact}}
            {{item.address}}
            {{item.other}}
            {{item.topCategory}}
            {{item.subCategory}}
            {{item.price}}
            {{item.condition}}
            {{item.brand}}
            {{item.modal}}
            {{item.mile_KMPH}}
            {{item.warranty}}
            {{item.extra_Warranty}}
            {{item.dateAdded}}
            {{item.showPhoneNumber}}
            {{item.showEmailID}}
            {{item.profilePicture}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="global-desktop-footer">
    <app-desktop-footer></app-desktop-footer>
  </div>
</div>
