@import '../../Style/styles.scss';

.top-nav-bar {
  @include display-flex(); //border-bottom: 1px solid gray;
  color: #1b5384;
  margin-bottom: 1%;
}

.nav-top-header {
  @include display-flex();
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 5px 2px 7px rgba(33, 33, 33, 0.7);
}

.header-logo {
  color: $font-color-red;
  font-weight: $font-wight-bold;
  font-size: 50px;
}

.container {
  @include display-flex();
  color: white;
  width: 100%;
  padding: 0%;
}

.menu-container {
  @include display-flex();
  color: white;
  width: 100%;
  padding: 0%;
  background-color: black;
}

.nav-header {
  @include display-flex();
  align-items: center;
  margin-top: 1%;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
}

.nav-medium-header {
  @include display-flex();
  align-items: center;
  margin-top: 1%;
  justify-content: center;
}

.list-nav-header {
  margin-right: 2%;
  list-style: none;
}

.input-box {
  outline: none;
  margin-right: 2%;
  border-radius: 0%;
}

.user-and-cart {
  @include display-flex();
  justify-content: flex-end;
  align-items: baseline;
}

.shoppingcart-expand {
  border: solid 1px #d4d4d4;
  border-radius: 7px;
  width: 25%;
  float: right;
}

.userStatus-shoppingCart {
  @include display-flex();
  list-style: none;
  border-bottom: solid 2px #e2e2e2;
}

.login-register {
  @include display-flex();
  margin-right: 2%;
  list-style: none;
}

.search-btn {
  background-color: $background-color-red;
  color: white;
  border: 0;
}

.shoppingcart-btn {
  color: #fff;
  background-color: $background-color-red;
  border-color: #ffffff;
  border-radius: 0%;
}

.shopping-bag {
  background-image: url("/dist/assets/images/cartbag.jpg"); 
}


