<div class="container">
  <div class="top-nav-bar">
    <ul class="nav-top-header">
      <li *ngFor="let topnav of topNav; let a=index;" class="list-nav-header">
        {{topnav.name}}
      </li>
    </ul>
  </div>
</div>

<div class="container">
  <ul class="nav-medium-header">
    <li class="list-nav-header" [routerLink]="['']">
      <div class="header-logo">NepFlex</div>
    </li>
    <div class="col-lg-6">
      <div class="input-group input-group-lg">
        <span class="input-group-addon search-btn" id="sizing-addon1">
             <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </span>
        <input data-test-id="inputbox_Searchbar" type="text" class="input-box form-control" placeholder="search products" aria-describedby="sizing-addon1">
      </div>
    </div>

    <div [routerLink]="['/shoppingbag']" class="btn shoppingcart-btn btn-lg" (mouseover)="shoppingCartExpand($event)" (mouseleave)="noExpandCart($event)">
      <span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart
    </div>
  </ul>
</div>

<!--menu-nav-->
<app-menu-nav></app-menu-nav>

<!--user-login-->
<div *ngIf="expandUserStatus" class="shoppingcart-expand">
  <ul class="userStatus-shoppingCart">
    <li class="login-register">Login</li>
    <li class="login-register">Register</li>
  </ul>
</div>

<!--shopping cart-->
<div *ngIf="expandNoItem" class="shoppingcart-expand">
  <ul class="userStatus-shoppingCart">
    <li>
      you have 0 item.
    </li>
  </ul>
</div>
