<div id="bs-carousel" class="carousel fade-carousel slide" data-ride="carousel" data-interval="5000" data-pause="Hover">
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
    <li data-target="#bs-carousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" id="wrpbanner">

    <div class="item slides active">
      <div class="slide-1" runat="server"></div>
      <div class="hero" runat="server">
        <div>
          <h1>Post my Items</h1>
          <h3 style="color: #a0d2ff;">post or advertise your own item and share to social media.</h3>
          <div ID="btn_BannerA1" class="btn btnbannertop">Post My Items</div>
        </div>

      </div>
    </div>
    <div class="item slides">
      <div class="slide-2"></div>
      <div class="hero">
        <div>
          <h1>Check FAQ</h1>
          <h3 style="color: #a0d2ff;">Get general idea about NepaliCraig postings.</h3>
        </div>
        <button id="BannerA2" runat="server" class="btn btnbannertop" OnClientClick="BannerA2_Click" Text="Check FAQ"></button>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-3"></div>
      <div class="hero">
        <div>
          <h1>Latest Released</h1>
          <h3 style="color: #a0d2ff;">NepaliCraig always go with new feature or may modify old so see our latest page</h3>
        </div>
        <button id="BannerA3" runat="server" class="btn btnbannertop"  Text="NC Latest"></button>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-4"></div>
      <div class="hero">
        <div>
          <h1>Social Share</h1>
          <h3 style="color: #a0d2ff;">Let friends and family know about Nepali Craig by sharing it.</h3>
          <div class="row" style="width:100%;">
            <div class="roundbannerbtn">

              <div class="bannersocialbtn col-lg-1 col-md-1 col-sm-2 col-xs-3 text-center">
                <div class="icon-circle">
                  <a href="https://facebook.com/sharer.php?u=http://www.nepalicraig.com/MyAccount/AccountHolder.aspx" class="ifacebook" target="_blank"
                    title="NepaliCraig:Facebook Share">
                    <i class="fa fa-facebook"></i>
                  </a>
                </div>
              </div>

              <div class="bannersocialbtn col-lg-1 col-md-1 col-sm-2 col-xs-3 text-center">
                <div class="icon-circle">
                  <!-- <a href="https://twitter.com/intent/tweet?url=http://www.nepalicraig.com/MyAccount/AccountHolder.aspx"" text='NepaliCraig:twitter Share' & via=NepaliCraig&hashtags=Nepalicraig.com" target="_blank" class="itwittter">
                    <i class="fa fa-twitter"></i>
                  </a> -->
                </div>
              </div>

              <div class="bannersocialbtn col-lg-1 col-md-1 col-sm-2 col-xs-3 text-center">
                <div class="icon-circle">
                  <a href="https://plus.google.com/share?url=http://www.nepalicraig.com/MyAccount/AccountHolder.aspx" class="igoogle" target="_blank"
                    title="NepaliCraig: Google+ Share ">
                    <i class="fa fa-google-plus"></i>
                  </a>
                </div>
              </div>

              <div class="bannersocialbtn col-lg-1 col-md-1 col-sm-2 col-xs-3 text-center">
                <div class="icon-circle">
                  <a href="https://www.youtube.com/channel/UCs19XOciU4nUx-5hKA0fqNg" class="youtube" target="_blank" title="NepaliCraig:YouTube">
                    <i class="fa fa-youtube" style="color: #ffffff;"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
