@mixin display-parent-flex($flex-Direction,$flex-wrap,$justify-content,$align-items,$align-content) {
  display: flex;
  flex-direction: $flex-Direction;
  flex-wrap: $flex-wrap;
  justify-content: $justify-content;
  align-items: $align-items;
  align-content: $align-content;
}

@mixin display-child-flex($flex1,$flex2,$flex-Style,$align-self) {
  order: 0;
  flex: $flex1 $flex2 $flex-Style;
  align-self: $align-self;
}

@mixin custom-font-style($font-size,$line-height,$letter-spacing,$padding-topx,$padding-bottom,$color,$font-weight) {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif !important;
  font-size: $font-size !important;
  line-height: $line-height !important;
  letter-spacing: $letter-spacing !important;
  padding-top: $padding-topx !important;
  padding-bottom: $padding-bottom !important;
  color: $color !important;
  font-weight: $font-weight !important;
  line-height: calc(0.7vw + 48px) !important;
}

@mixin body-page-container($width,$height,$color,$background-color) {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif !important;
  font-size: 15px !important;
  line-height: 24px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  color: $color !important;
  background-color: $background-color !important;
  border-radius: 4px !important;
  border: 1px solid #dbdbdb !important;
  padding: 33px !important;
  display: table !important;
  table-layout: fixed !important;
  height: $height !important;
  width: $width !important;
  position: relative !important;
  -webkit-box-shadow: 0 5px 30px rgba(156, 160, 171, 0.25) !important;
  box-shadow: 0 5px 30px rgba(156, 160, 171, 0.25) !important;
  margin: 0 4em 4em 0;
}
@mixin submit-button() {
  height: 2em;
  width: 6em;
  background: #e6e6e6;
  text-align: center;
  font-size: 2em !important;
  line-height: 56px !important;
  letter-spacing: -0.8px !important;
  color: #6f6f6f !important;
  font-weight: normal !important;
}

//below not needed

@mixin display-flex {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  align-self: auto;
  order: 0;
}

@mixin display-flex-center {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: auto;
  order: 0;
  flex-direction: row;
  flex-wrap: nowrap;
}

@mixin custom-fancy-box {
  width: 100%;
  height: 49%;
  margin: 20px auto;
  padding-left: 3%;
  padding-right: 3%;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: auto;
  order: 0;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}
