//background
$backgropund-header-color:black;
$background-color-red: #d6002a;

//font
$font-color-white:white;
$font-color-black:black;
$font-color-red:lighten(red,15%);

//font-weight
$font-wight-bold:bold;
$font-wight-normal:normal;
$font-family: sans-serif;


//images:
$empty-cart:'/dist/assets/images/empty_cart.png';
