//background
$backgropund-header-color:black;
$background-color-red: #d6002a;

//border:
$border-gray:1px solid #E4E4E4;

//font
$font-color-white:white;
$font-color-black:black;
$font-color-red:lighten(red,15%);

//font-weight
$font-wight-bold:bold;
$font-wight-normal:normal;
$font-family: sans-serif;


//images:
$empty-cart:'/dist/assets/images/empty_cart.png';
$close-round-button:'/dist/assets/images/Buttons/close_round_button.png';
