//background
$backgropund-header-color:black;

//font
$font-color-white:white;
$font-color-black:black;
$font-color-red:lighten(red,15%);

//font-weight
$font-wight-bold:bold;
$font-wight-normal:normal;