@import './_variables.scss';
@import './_mixins.scss';
.global-desktop-body{
  @include display-parent-flex(row,nowrap,flex-start,flex-start,flex-start);
}
.global-desktop-header{
  @include display-child-flex(0,1,auto,auto);
}
.global-desktop-container{
  @include display-child-flex(1,1,auto,auto);
}
.global-desktop-footer{
  @include display-child-flex(0,1,auto,auto);
}

.custom-red-btn {
  color: #fff;
  background-color: $background-color-red;
  border-color: #ffffff;
  border-radius: 0%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(212, 212, 212);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(212, 212, 212)
}

.ng-valid[required], .ng-valid.required  {
  border-bottom: 2px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-bottom:2px solid #a94442; /* red */
}
