@import '../../../Style/styles.scss';

.animated-button-body {
  @include display-parent-flex(column, nowrap, flex-start, flex-start, flex-start);
  background: #f1f1f1;
  z-index: 1;
  width: 92.5em;
  border-radius: 5px;
  min-height: 7em;
  max-height: 29em;
  width: 100% !important;
  position: relative;
  overflow: auto;
  padding: 1em;
  font-size: 11px;
  font-family: sans-serif;
}

.animated-button-container {
  @include display-parent-flex(row, nowrap, flex-start, flex-start, flex-start);
}

//---------------
div.animBtn,
div.animBtn:visited {
  @include display-child-flex(1, 1, auto, auto);
  margin-right: 1em;
  position: relative;
  display: block;
  padding: 14px 15px;
  background-color: rgba(108, 110, 212, 1);
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 0.08em;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  @include display-child-flex(1, 1, auto, auto);

  &:after {
    content: '';
    position: absolute;
    background: none repeat scroll 0 0 #fff;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 100%;
    z-index: -1;
    transition: all 0.3s ease 0s;
  }

  &:hover {
    color: #032dff;
    text-shadow: none;
    background: #0d11af;
    transition: all 0.3s ease;
    z-index: 1;
    position: relative;

    &:after {
      height: 420%;
    }
  }
}

div.animBtn {
  &.themeA:after {
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  }
}
