@import '../../../../Style/styles.scss';
.fancy-box {
  @include custom-fancy-box();
  position: relative;
  height: auto;
  border: 0;
  box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.45);
  -webkit-box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.45);
  justify-content: flex-start;
}

.fancy-box:nth-child(1) {
  background: white
}

.fancy-box:nth-child(2) {
  background: #ffe1e1;
  padding: 2%;
}

.new-arrival {
  position: absolute;
  top: 375px;
  word-wrap: break-word;
  color: #020202;
  background: #b7b7b7;
  opacity: 0.8;
}

.container:hover .new-arrival {
  top: 0px;
  transition: 1s;
  opacity: 0.6;
}

.container {
 // border-right: 1px solid #e6e6e6;
}

.container:nth-child(2) {
  border-right: 0px;
}

.container:hover {
  //border-right:2px solid red;
  //border-right: 1px solid red;
}

.overlay-tabs {
  position: absolute;
  top: 397px;
  width: 100%;
  color: #FFF;
  opacity: 3.1;
  @include display-flex();
  justify-content: flex-start;
}

.btn-min-block {
  min-width: 170px;
  line-height: 26px;
}

.btn-clear {
  color: #FFF;
  background-color: transparent;
  border-color: #FFF;
  margin-right: 15px;
  background-color: rgb(14, 14, 14);
}

.btn-clear:hover {
  color: #000;
  background-color: #FFF;
  border-radius: 37px;
}
