<div class="fancy-box">
  <div class="container" *ngFor="let item of images; let i=index;">
    <img attr.data-test-id="src_imagegrocery" src="{{item.url}}" class="img-responsive backgroundimg" alt="">
    <div class="new-arrival hidden-xs">
      <div class="col-md-12 text-center">
        <h1>{{item.title}}</h1>
        <h3></h3>
      </div>
    </div>
     <!--<div class="overlay-tabs hidden-xs">
      <a class="btn btn-clear btn-sm btn-min-block" href="#">Male</a>
      <a class="btn btn-clear btn-sm btn-min-block" href="#">Female</a>
    </div>-->
  </div>
</div>
<div class="fancy-box">
  <div class="container">
    <img attr.data-test-id="src_imagegrocery" src="../dist/assets/images/cosmetics.png" class="img-responsive backgroundimg"
      alt="">
    <div class="new-arrival hidden-xs">
      <div class="col-md-12 text-center">
        <h1>find your cosmetics</h1>
        <h3></h3>
      </div>
    </div>
  </div>
</div>
