<div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel" interval="10000">
    <ul class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" ></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
      <li data-target="#myCarousel" data-slide-to="6"></li>
      <li data-target="#myCarousel" data-slide-to="7"></li>
    </ul>
    <div class="carousel-inner">
      <div attr.data-test-id="carousel_block{{i}}" id="scroller" class="col-md-3 col-sm-6 item {{img.setactive}}" *ngFor="let img of images; let i=index;">
        <span class="thumbnail" attr.data-test-id="carousel_item{{i}}">
      			<img src="{{img.url}}" alt="">
      			<h4>{{img.title}}</h4>
      	<div class="ratings">
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
      </div>
      <p>{{img.title}}</p>
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <p class="price">{{img.price}}</p>
        </div>
        <div class="col-md-6 col-sm-6">
          <button class="btn btn-success btnright"> BUY ITEM</button>
        </div>
      </div>
      </span>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left actual-custom-design">
            </span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right actual-custom-design">
           </span>
  </a>
</div>
</div>

