<ng-container *ngIf="(asyncTabs | async) === null">
  Loading tabs...
</ng-container>

<mat-tab-group>
  <mat-tab *ngFor="let tab of asyncTabs | async">
    <ng-template mat-tab-label>{{tab.searchText}}</ng-template>
    <div id="team" class="pb-5">
      <div class="container custom-margin">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 custom-item-body">
            <div *ngFor="let item of tab.itemDetail;let j=index;" class="custom-item-container">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
              <div class="mainflip">
                <div class="frontside">
                  <div class="card">
                    <div class="card-body text-center">
                      <Label ID="Lblprice" Class="LabelPrice">${{item.price}}</Label>
                      <p><img class=" img-fluid"
                          src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image">
                      </p>
                      <h4 class="card-title">{{item.title}}</h4>
                      <p class="card-text">This is basic card with image on top, title, description and button.</p>
                      <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                    </div>
                  </div>
                </div>
                <div class="backside">
                  <div class="card">
                    <div class="card-body text-center mt-4">
                      <h4 class="card-title">{{item.topCategory}} >> {{item.subCategory}}</h4>
                      <p class="card-text">{{item.detail}}</p>
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <a class="social-icon text-xs-center"
                            href="https://facebook.com/sharer.php?u=http://www.nepalicraig.com/Detail.aspx?Id={{item.postID}}"
                            title="{{item.title}}" target="_blank">
                            <i class="fa fa-facebook"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a class="social-icon text-xs-center"
                            href="https://twitter.com/intent/tweet?url=http://www.nepalicraig.com/Detail.aspx?Id={{item.postID}} & text='{{item.title}}' & via=NepaliCraig&hashtags=NepaliCraigPost"
                            target="_blank">
                            <i class="fa fa-twitter"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <app-animated-button [buttonCollections]="detailButttons" (click)="goToMoreDetails(item.postID)"></app-animated-button>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
    
        </div>
      </div>
    </div>



  </mat-tab>
</mat-tab-group>