<div class="menu-container">
  <ul class="nav-medium-header">
    <li *ngFor="let nav of navList" class="list-nav-header">
      {{nav.name}}
      <div class="pop-over">
        <div class="menu-pop-container">
          <ul class="custom-rows">
            <li class="title-group" *ngFor="let navItem of womenMenuPopContainer; let i=index;">
              <a [routerLink]="navItem.url">{{navItem.label}}</a>
            </li>
          </ul>s
        </div>
      </div>
    </li>
    <li class="list-nav-header" (mouseover)="UserStatus($event)">
      <span class="glyphicon glyphicon-user"></span>
    </li>
  </ul>
</div>


<!--user-login-->
<div *ngIf="expandUserStatus" class="shoppingcart-expand">
  <ul class="userStatus-shoppingCart">
    <li class="login-register">Login</li>
    <li class="login-register">Register</li>
  </ul>
</div>
