<div class="menu-container">
  <ul class="nav-medium-header">
    <li *ngFor="let nav of navList; let i=index;" class="list-nav-header" (mouseover)="getMenuTopItems(nav.menuId)">
      <div>{{nav.menuName}}</div>
      <div class="pop-over">
        <div class="menu-pop-container">
          <ul class="custom-rows">
            <li class="title-group">
              <p class="title-container">Most Visit</p>
              <a *ngFor="let navItem of (womenMenuPopContainer); let i=index;" [routerLink]="navItem.menuPopUrl" class="li-data-container">
              {{navItem.menuPopContainer}}</a>
            </li>
          </ul>
          <ul class="custom-rows">
            <li class="title-group">
              <p class="title-container">Brands</p>
              <a *ngFor="let clBrand of (clothingBrands); let i=index;" [routerLink]="clBrand.brandUrl" class="li-data-container">
                {{clBrand.brandName}}</a>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="list-nav-header" (mouseover)="UserStatus($event)">
      <span class="glyphicon glyphicon-user"></span>
    </li>
  </ul>
</div>


<!--user-login-->
<div *ngIf="expandUserStatus" class="shoppingcart-expand">
  <ul class="userStatus-shoppingCart">
    <li class="login-register">Login</li>
    <li class="login-register">Register</li>
  </ul>
</div>
