@import '../../../../Style/styles.scss';

.info-blocks {
  @include display-parent-flex(row,nowrap,flex-start,flex-start,flex-start);
}
.body-container {
  padding: 8em;
}
.report-info {
  @include body-page-container(100% ,42px,#484848,#ffffff00);
  @include display-child-flex(0,1,auto,auto);
}
.left-section {
  @include display-child-flex(0,1,auto,auto);
  @include display-parent-flex(column,nowrap,flex-start,flex-start,flex-start);
  margin-right: 4em;
}
.right-section {
  @include display-child-flex(0,1,auto,auto);
  @include display-parent-flex(column,nowrap,flex-start,flex-start,flex-start);
  max-height: 60em;
  overflow: auto;
}
.contact-us-info {
  @include body-page-container(98% ,42px,#484848,#ffffff);
  @include display-child-flex(0,1,auto,auto);
  min-height: 33em;
}
.terms-of-service-info {
  @include body-page-container(41% ,42px,#484848,#ffffff);
  @include display-child-flex(0,1,auto,auto);
}

.imgaboutus {
  background-image: url($nCImageAboutusPage);
  width: 13em;
  height: 8em;
  content: '';
  display: block;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 1;
  margin-left: 35em;
}
.title-text {
  @include custom-font-style(35px,56px,-0.8px,1px,8px,#6f6f6f,normal);
}
.report-input-box {
  @include display-child-flex(0,1,auto,auto);
  margin: 0 0 0.5em 0;
  & input {
    width: 100%;
    border-radius: 6px;
    // border: 1px solid #e4e4e4;
  }
  & textarea {
    min-width: 100%;
    max-width: 100%;
    max-height: 100px;
    min-height: 100px;
    border-radius: 6px;
    // border: 1px solid #e4e4e4;
  }
}
.submitBtn {
  @include submit-button;
}
.submitBtn:hover {
  color: rgb(126, 18, 18);
}
border-red{
  border: 1px solid #e4e4e4;
}
