<div class="global-desktop-body">
  <div class="global-desktop-header">
    <app-desktop-header></app-desktop-header>
  </div>
  <form [formGroup]="reportForm" class="global-desktop-container">
    <div class="body-container">
      <div class="imgaboutus"></div>
      <div class="info-blocks">
        <div class="left-section" id="reportLeftsection">
          <div *ngIf="!turnSmallLoader" class="report-info" id="aboutUsInfo">
            <div class="title-text">Report Section</div>
            <div class="report-input-box" id="aboutUsInfo">
              Your FullName:
              <input type="text" formControlName="name" required/>
            </div>
            <div class="report-input-box" id="aboutUsInfo">
              Your Email:
              <input type="email" formControlName="email" required/>
            </div>
            <div class="report-input-box" id="aboutUsInfo">
              URL:
              <input type="url" formControlName="url" required/>
            </div>
            <div class="report-input-box" id="aboutUsInfo">
              Please provide Detail:
              <textarea type="text" formControlName="detail" required>
              </textarea>
            </div>
            <div class="report-input-box" id="aboutUsInfo">
              <div [ngClass]="{'submitBtn':!turnSubmitButtonDisable,'disable-button':turnSubmitButtonDisable}" (click)="saveReport()">Submit</div>
            </div>
          </div>
        </div>
        <div class="right-section" id="reportRightsection">
          <div class="contact-us-info">
            <div class="title-text">Reported: </div>
            <!-- <app-spinner [showSmallLoader]="turnSmallLoader"></app-spinner> -->
            <app-cloud-spinner [showCloudSpinner]="turnSmallLoader"></app-cloud-spinner>
            <div *ngFor="let item of reportedDataList;let i=index;">
              <ul *ngIf="!showInfoPage">
                <li>{{item.dateAdded | date}} Name:{{item.name | defaultValue:'N/A'}}
                  <br>URL:{{item.url | defaultValue:'N/A'}}
                  <br>Detail: {{item.detail | defaultValue:'N/A'}}
                </li>
              </ul>
            </div>
            <label *ngIf="showInfoPage">{{infoPageLabel}}</label>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="global-desktop-footer">
    <app-desktop-footer></app-desktop-footer>
  </div>
</div>
