<div class="c-carousel">
  <div class="c-carousel__arrow c-carousel__arrow--left"></div>
  <div class="c-carousel__arrow c-carousel__arrow--right"></div>
  <ul class="c-carousel__slides">
    <li><img src="/dist/assets/images/empty_cart.png" /></li>
    <li><img src="/dist/assets/images/400dpiLogo.jpg" /></li>
    <li><img src="/dist/assets/images/cartbag.jpg" /></li>
    <li><img src="/dist/assets/images/cosmetics.png" /></li>
    <li><img src="/dist/assets/images/groceryshopping.png" /></li>
    <li><img src="//unsplash.it/300/450?random=2" /></li>
    <li><img src="//unsplash.it/300/450?random=3" /></li>
    <li><img src="//unsplash.it/300/450?random=4" /></li>
    <li><img src="//unsplash.it/300/450?random=5" /></li>
    <li><img src="//unsplash.it/300/450?random=6" /></li>
  </ul>
</div>
