<!DOCTYPE html>
<html manifest="../../src/offline.manifest">
<head>
  <base href="/">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="../../Scripts/jquery-1.4.min.js"></script>
    @{
  var @angs = "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
   }
    <link href="@angs" rel="stylesheet">
    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
  </head>
<body>
   @RenderBody()

@{
    var version = typeof(NepFlex.WebUI.Controllers.HomeController).Assembly.GetName().Version;
}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="~/dist/inline.bundle.js?v=@version"></script>
  <script type="text/javascript" src="~/dist/polyfills.bundle.js?v=@version"></script>
  <script type="text/javascript" src="~/dist/styles.bundle.js?v=@version"></script>
  <script type="text/javascript" src="~/dist/vendor.bundle.js?v=@version"></script>
  <script type="text/javascript" src="~/dist/main.bundle.js?v=@version"></script>

     <script type="text/javascript" src="../../Scripts/offline.js"></script>
</body>
</html>
