//@import '../../styles/mixins';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
  margin: 0;
  height: 100%;
}

body {
  height: 100%;
}

.hidden {
  display: none;
  visibility: hidden;
}

