<!-- <div class="home-body">
  <div class="home-text-info">
      Search and post your items, coupons,<br> articles, events and many more ...
  </div>
    <app-search-box class="home-search-box" [isThisComingFromHomePage]="true"></app-search-box>
</div> -->

<div class="row custom-rows-height">
  <div class="col-sm default-box-shadow mr-1">
    <span class="home-text-info">Search items, coupons, articles, events and many more ..</span>
    <div class="col-sm ">
      <app-search-box class="home-search-box" [isThisComingFromHomePage]="true"></app-search-box>
    </div>
  </div>
  <div class="col-sm default-box-shadow mr-1">
      <span class="home-text-info">Login/Register: </span>
    <div class="col-sm ">
        <!-- <app-search-box class="home-search-box" [isThisComingFromHomePage]="true"></app-search-box> -->
      </div>
    </div>
  <div class="col-sm default-box-shadow">
      <span class="home-text-info">Featured Items:</span>
    <div class="col-sm ">
      </div>
    </div>
</div>
<div class="row">
  <div class="col-sm">
      <!-- <img src="dist/assets/images/Avatar/beautiful.png" alt="a1" class="img-thumbnail">
      <img src="dist/assets/images/Avatar/beautiful.png" alt="a2" class="img-thumbnail">
      <img src="dist/assets/images/Avatar/beautiful.png" alt="a2" class="img-thumbnail">
      <img src="dist/assets/images/Avatar/beautiful.png" alt="a2" class="img-thumbnail">
      <img src="dist/assets/images/Avatar/beautiful.png" alt="a2" class="img-thumbnail">
      <img src="dist/assets/images/Avatar/beautiful.png" alt="a2" class="img-thumbnail"> -->
  </div>
  <!-- <div class="col-sm">
      <img src="dist/assets/images/Avatar/beautiful.png" alt="a2" class="img-thumbnail">
  </div>
  <div class="col-sm">
      <img src="dist/assets/images/Avatar/beautiful.png" alt="a1" class="img-thumbnail">
  </div>
  <div class="col-sm">
      <img src="dist/assets/images/Avatar/beautiful.png" alt="a2" class="img-thumbnail">
  </div>
  <div class="col-sm">
      <img src="dist/assets/images/Avatar/beautiful.png" alt="a1" class="img-thumbnail">
  </div>
  <div class="col-sm">
      <img src="dist/assets/images/Avatar/beautiful.png" alt="a2" class="img-thumbnail">
  </div> -->
</div>
