<!-- <div class="home-body">
  <div class="home-text-info">
      Search and post your items, coupons,<br> articles, events and many more ...
  </div>
    <app-search-box class="home-search-box" [isThisComingFromHomePage]="true"></app-search-box>
</div> -->

<!-- <div class="row custom-rows-height">
  <div class="col-sm default-box-shadow mr-1">
    <span class="home-text-info">Search items, coupons, articles, events and many more ..</span>
    <div class="col-sm ">
      <app-search-box class="home-search-box" [isThisComingFromHomePage]="true"></app-search-box>
    </div>
  </div>
  <div class="col-sm default-box-shadow mr-1">
      <span class="home-text-info">Login/Register: </span>
    <div class="col-sm ">
      </div>
    </div>
  <div class="col-sm default-box-shadow">
      <span class="home-text-info">Featured Items:</span>
    <div class="col-sm ">
      </div>
    </div>
</div>
<div class="row">
  <div class="col-sm">
  </div>
</div> -->
<header class="masthead text-white ">
  <div class="overlay"></div>
  <div class="container slider-top-text">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3 class="my-heading home-text-info">
          <span class="bg-main">Search,
          Bid/Ask or Post</span>
         <br> <span>your items, coupons, articles, events and many more</span>
          <!-- <span class="bg-main">@</span>Updated<span class="bg-main">Cloud</span> -->
        </h3>
        <app-search-box class="home-search-box" [isThisComingFromHomePage]="true"></app-search-box>
        <p class="myp-slider text-center">Select From these trending keywords: </p>
        <p class="myp text-center">Auto   |   Education Materials   |   Apartments</p>
        <a class="btn btn-primary btn-join" href="#">Post Your Items</a>

      </div>
      <div class="col-md-12 text-center mt-5">
        <div class="scroll-down">
          <a class="btn btn-default btn-scroll floating-arrow" href="#gobottom" id="bottom"><i class="fa fa-angle-down"></i></a>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- <section class="testimonials" id="gobottom">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3 wow bounceInUp" data-wow-duration="1.4s">
        <div class="big-img">
          <img src="https://images.pexels.com/photos/167631/pexels-photo-167631.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
            class="img-fluid">
        </div>
      </div>
      <div class="col-md-8">
        <div class="inner-section wow fadeInUp">
          <h3>Select <span class="bg-main">From These Categories</span></h3>
          <br>
          <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
            Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but
            also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets.</p>

          <div class="linear-grid">
            <div class="row">
              <div class="col-sm-6 col-md-3 mb-2 wow bounceInUp" data-wow-duration="1.4s">
                <img src="https://images.pexels.com/photos/534031/pexels-photo-534031.jpeg?auto=compress&cs=tinysrgb&h=350"
                  class="img-thumbnail">
              </div>
              <div class=" col-sm-6 col-md-3 mb-2 wow bounceInUp" data-wow-duration="1.4s">
                <img src="https://images.pexels.com/photos/258804/pexels-photo-258804.jpeg?auto=compress&cs=tinysrgb&h=350"
                  class="img-thumbnail">
              </div>
              <div class="col-sm-6 col-md-3 mb-2 wow bounceInUp" data-wow-duration="1.4s">
                <img src="https://images.pexels.com/photos/285598/pexels-photo-285598.jpeg?auto=compress&cs=tinysrgb&h=350"
                  class="img-thumbnail">
              </div>
              <div class="col-sm-6 col-md-3 mb-2 wow bounceInUp" data-wow-duration="1.4s">
                <img src="https://images.pexels.com/photos/167605/pexels-photo-167605.jpeg?auto=compress&cs=tinysrgb&h=350"
                  class="img-thumbnail">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- section 2 starts -->
<app-news-item-container [isHomePage]="true" [containerType]="containerType_News"></app-news-item-container>

<!-- section 3 starts -->
<section class="section2" id="gobottom">
  <div class="container">
    <div class="row mbr-justify-content-center">

      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fa-taxi fa"></span>

          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Services We Provide</h2>
            <p class="mbr-fonts-style text1 mbr-text display-6">See what are our services that we provide.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fa-users fa"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">About Us
            </h2>
            <p class="mbr-fonts-style text1 mbr-text display-6">who we are? / contact us.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fa-calendar fa"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Events
            </h2>
            <p class="mbr-fonts-style text1 mbr-text display-6">See All Posted Events In Your Local Area.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fa-question fa"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">FAQ
            </h2>
            <p class="mbr-fonts-style text1 mbr-text display-6">Ever Wonder Something, See Our FAQ.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fa-envelope fa"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Send Email</h2>
            <p class="mbr-fonts-style text1 mbr-text display-6">Send Email To Us.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fas fa-newspaper"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Local News</h2>
            <p class="mbr-fonts-style text1 mbr-text display-6">Read Your Local News</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
