

.home-text-info{
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 48px !important;
  line-height: 56px !important;
  letter-spacing: -0.8px !important;
  padding-top: 74px !important;
  padding-bottom: 8px !important;
  color: #6f6f6f !important;
  font-weight: normal !important;
  line-height: calc(0.7vw + 48px) !important;
}
.home-search-box{
  flex: 1 1 auto;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 19px !important;
  line-height: 24px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  color: #484848 !important;
  background-color: #ffffff !important;
  border-radius: 4px !important;
  border: 1px solid #DBDBDB !important;
  padding: 0px !important;
  display: table !important;
  table-layout: fixed !important;
  height: 42px !important;
  width: 100% !important;
  position: relative !important;
  box-shadow: 0 5px 30px rgba(156, 160, 171, 0.25) !important;
}
