<!-- <div class="header-body">
    <div class="logo">{{title}}</div>
    <div class="list-container">home</div>
    <div class="list-container">aboutus</div>
</div> -->

<footer class="footer bg-dark">
  <div class="container">
    <div class="row">

      <div class="col-lg-6 text-center text-lg-left my-auto  wow zoomIn">
        <ul class="list-inline mb-2">
          <li class="list-inline-item">
            <a (click)="RouteTo('about-us')">About</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Contact</a>
          </li>
          <li class="list-inline-item">
            <a (click)="RouteTo('report')">Report Us</a>
          </li>
          <li class="list-inline-item">
            <a (click)="RouteTo('terms-of-use')">Terms of Use</a>
          </li>
          <li class="list-inline-item">
            <a (click)="RouteTo('terms-of-use')">Privacy Policy</a>
          </li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">© {{title}} 2018. All Rights Reserved.</p>
      </div>
      <div class="col-lg-6 text-center text-lg-right my-auto  wow zoomIn">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fa fa-facebook fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fa fa-twitter fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-instagram fa-2x fa-fw"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
