<app-header></app-header>
<h2 class="total-Price bg-success">your total price:</h2>
<form [formGroup]="form">
  <div class="billing-shipping-body">

    <div class="billing-and-shipping">
      <div class="title-billing-shipping">Billing</div>
      <div class="billing-shipping-container">
        <div class="order-summary-item" *ngFor="let billing of billingCheckout;let i=index;">
          <div class="order-summary-label">{{billing.label}}</div>
          <div class="order-summary-value">
            <input type="text" class="form-control textbox-input" placeholder="{{billing.value}}">
          </div>
        </div>
      </div>
    </div>

    <div class="shipping">
      <div class="title-billing-shipping">shipping</div>
      <input id="chkToUseDifferentAddr" type="radio" formControlName="differentShippingAddress" (change)="checkedOrNot($event,differentShippingAddress)"
        value="yes">
      <label for="chkToUseDifferentAddr" class="choose-shipping-label">use different shipping address</label>
      <input id="chkToUseSameAddr" type="radio" formControlName="differentShippingAddress" (change)="checkedOrNot($event,differentShippingAddress)"
        value="no">
      <label for="chkToUseSameAddr" class="choose-shipping-label"> use same as billing address</label>

      <div class="billing-shipping-container" [hidden]="!differentShipping">
        <div class="order-summary-item" *ngFor="let billing of billingCheckout;let i=index;">
          <div class="order-summary-label">{{billing.label}}</div>
          <div class="order-summary-value">
            <input type="text" class="form-control textbox-input" placeholder="{{billing.value}}">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="billing-shipping-body">
    <div class="billing-and-shipping">
      <div class="title-billing-shipping">Payment Information</div>
      <div class="billing-shipping-container">
        <div class="order-summary-item" *ngFor="let payment of paymentMethod;let i=index;">
          <div class="order-summary-label">{{payment.label}}</div>
          <div class="input-group order-summary-value">
            <input type="text" class="form-control textbox-input" placeholder="{{payment.value}}">
            <span class="glyphicon glyphicon-lock" *ngIf="payment.other==='true'"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="billing-and-shipping-paymment">
      <div class="title-billing-shipping">Review & Confirm</div>
      <div class="billing-shipping-container">

        <input id="chkToReview" type="radio" formControlName="reviewBeforeConfirm" data-toggle="modal" data-target="#myModal" (change)="reviewOrConfirm($event)"
          value="yes">
        <label for="chkToReview" class="choose-shipping-label">Review before pay</label>
        <input id="chkToConfirmPay" type="radio" formControlName="reviewBeforeConfirm" (change)="reviewOrConfirm($event)" value="no">
        <label for="chkToConfirmPay" class="choose-shipping-label">pay now</label>
        <!--[hidden]="showPopUpModel"-->
        <app-modal></app-modal>
      </div>
    </div>
  </div>
</form>
