<div class="global-desktop-body">
  <div class="global-desktop-header">
    <app-desktop-header></app-desktop-header>
  </div>
  <div class="global-desktop-container">
    <div class="field-title"></div>
    <div class="body-container">
      <div class="field-title"></div>
      <!-- <div class="imgaboutus"></div> -->
      <div class="list-header">
        <div class="header-field-container">
          <div class="header-field-title">{{(searchText | defaultValue:'All Results') | camelCase}}
            <div class="all-results">Total Results({{TotalCount}})</div>
          </div>
        </div>
      </div>
      <div class="info-blocks" *ngIf="!turnLargeLoader">
        <div class="photo-section">
          <app-spinner [showLargeLoader]="turnLargeLoader"></app-spinner>
          <div *ngIf="!turnLargeLoader">
            <div *ngIf="!turnLargeLoader">
              <app-item-container *ngIf="TotalCount!==0" [itemResults]="searchResults"></app-item-container>
              <div *ngIf="TotalCount===0" class="try-again-label"> please try again</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="global-desktop-footer">
      <app-desktop-footer></app-desktop-footer>
    </div>
  </div>
