@import '../../../../Style/styles.scss';

.body-container {
  padding: 8em;
}
.field-title {
  width: 15em;
  font-size: large;
  color: #415967;
}
.custom-width{
//   @media (min-width: 1200px)
// .container {
    max-width: 92%;
// }
}
.list-header {
  @include display-child-flex(0, 1, auto, auto);
  border-radius: 4px !important;
  border: 1px solid #dbdbdb !important;
  text-align: center;
}
.header-field-container {
  padding: 8px !important;
  font-size: xx-large;
  color: #888888;
}
.header-field-title {
  color: #888888;
}
// .as {
//   & span {
//     color: #888888;
//     font-size: medium;
//   }
// }
.all-results {
 // width: 9em;
  font-size: 14px;
  font-family: sans-serif;
  float: right;
}
.info-blocks {
  @include display-parent-flex(row,nowrap,flex-start,flex-start,flex-start);
  //border-radius: 4px !important;
  //border: 1px solid #dbdbdb !important;
  box-shadow: 0 5px 30px rgba(156, 160, 171, 0.25) !important;
  background: #f9f9f9;
  overflow-y: scroll;
  overflow-x: hidden;
}
