<!--<div class="offer-container">
  <div *ngFor="let thumbnil of thumbnil; let i=index">
    <img attr.data-test-id="src_image{{i}}" src="{{thumbnil.url}}" class="img-responsive backgroundimg" alt="">
    <div class="main-text hidden-xs">
      <div class="col-md-12 text-center">
        <h1>{{thumbnil.title}}</h1>
        <h3>All item 25% to 50% OFF.</h3>
      </div>
    </div>
  </div>
</div>-->
<!--<div class="accordian">
    <ul>
		<li *ngFor="let thumbnil of thumbnil; let i=index">
			<div class="image_title">
				<a href="#">{{thumbnil.title}}</a>
			</div>
			<a href="#">
				<img src="{{thumbnil.url}}"/>
			</a>
		</li>

	</ul>
</div>-->

<div class="fancy-box">
  <div class="col-md-4 limited-deal" *ngFor="let thumbnil of thumbnil; let i=index">
    <div class="cours2" style="overflow:hidden;">
      <img class="hover imgCustom" src="{{thumbnil.url}}">
      <div class="cours3">
        <h2>{{thumbnil.title}}</h2>
      </div>
      <div class="cours4 text-center">{{thumbnil.price}}
      </div>
    </div>
  </div>
</div>

