<app-header></app-header>
<div class="shopping-body">
  <div class="border-cart-status">
    <div class="title-shopping-bag">Shopping Bag</div>
    <div class="empty-cart" [hidden]="!isEmpty"></div>
    <div class="loaded-cart">
    </div>
  </div>
  <div class="order-summary">
    <div class="title-shopping-bag">Order Summary</div>
    <div class="on-empty-cart" [hidden]="!isEmpty">
      <div class="order-summary-item">
        <div class="order-summary-label">Price Before</div>
        <div class="order-summary-value">$100</div>
      </div>
      <div class="order-summary-item">
        <div class="order-summary-label">Discount</div>
        <div class="order-summary-value">$50</div>
      </div>
      <div class="order-summary-item">
        <div class="order-summary-label">Shipping Fee</div>
        <div class="order-summary-value">$5</div>
      </div>
      <div class="order-summary-item">
        <div class="order-summary-label">Total Amount</div>
        <div class="order-summary-value">$55</div>
      </div>
    </div>
    <div class="apply-code">
      <div class="order-summary-item">
        <div class="order-summary-label">Promotion Code</div>
        <div class="order-summary-value">Apply Code</div>
      </div>
    </div>
  </div>
</div>
